
body {

    background-color: azure;
}



.header {
    display: flex;
    justify-content: center;
    padding: 10px;


}


.headertitle {
    font-family: 'Courier New', monospace;
    font-weight: lighter;



}


.maincontent {

    justify-content: center;
    display:flex;
    gap: 100px;
    max-width: 1100px;
    max-height: 1100px;
}


.buttonscontainer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    width: 200px;
}


button {

    padding: 10px;
}


.footercontainer {

    position: absolute;
    display: flex;
    bottom: 0;
    justify-content: center;
    padding: 20px;
    margin: 0;
    width: 100%;
    font-family: 'Courier New', monospace;
    font-weight: lighter;
}


.gridcontainer {

    /* border: 5px solid brown; */
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    background-color: white;

}


.gridcell {

    /* border: 5px solid blue; */
    padding: 5px;
    flex: 2;
    
}


.gridrow {

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    
    
}

